body nav {
    border-bottom: 1px solid white;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

nav {
    display: block;
}

.border {
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
    width: 2%;
}

.iconBands{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.smallIcons {
    margin-right: 5px;
    padding-right: 10%;
    padding-left: 5px;
    width: 30px;
}

div {
    text-align: left;
}

#instagram {
    height: 40px;
    border-left: 1px solid black;
    padding-left: 15px;
    margin-right: 5%;
}


div {
    text-align: left;
}

#navFind {
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid white;
    padding-left: 400px;
    padding-right: 25px;
    text-align: left;
    background-color: whitesmoke;
    width: 30px;
    margin-right: 10%;
    
    input[type="text"] {
		border-style: hidden;
		font-size: medium;
		padding: 15px;
		box-sizing: border-box;
		width: 88%;
		color: gray;
	}
}